[Unit]
Description=Bad IP List Monitor
After=network.target

[Service]
User=someuser
ExecStart=/usr/bin/python3 /path/to/badiplist_monitor_copy.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
